.pfofile-info {
  padding: 30px;
}

.pfofile-info__name {
  margin: 0;
  margin-bottom: 30px;

  font-size: 36px;
}

.profile-info__description {
  display: flex;
  justify-content: space-between;
}

.pfofile-info__avatar-wrap {
  width: 250px;
  max-width: 35%;
}

.pfofile-info__avatar {
  max-width: 100%;

  border-radius: 50%;
}

.profile-info__about-wrap {
  display: flex;
  flex-direction: column;

  width: 60%;
}

.profile-info__about-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 24px;
}

.pfofile-info__about {
  margin: 0;

  font-size: 20px;
  line-height: 1.5;
}

.profile-info__looking-job-title {
  margin: 0;
  margin-bottom: 20px;
}

.profile-info__looking-job {
  margin: 0;
  margin-bottom: 10px;
}

.profile-info__looking-job-desc {
  margin: 0;
  margin-bottom: 10px;
}

.profile-info__contacts-title {
  margin: 0;
  margin-bottom: 20px;
}

.profile-info__contacts-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.profile-info__contacts-item {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.profile-info__contacts-item-title {
  margin: 0;

  margin-right: 10px;
  font-size: 16px;
}

.profile-info__contacts-item-desc {
  margin: 0;

  font-size: 16px;
}