.dialogs {
  display: flex;
  justify-content: space-between;
}

.dialogs__list {
  margin-right: 10px;

  min-width: 20%;

  background-color: white;
  border-radius: 5px;
}
.dialogs__messages {
  width: 73%;

  background-color: white;
  border-radius: 5px;
}