.header {
  padding: 20px 0;

  background-color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.header__title {
  margin: 0;
  padding: 0;
}
