.App {

}

.main{
  display: flex;
  justify-content: space-between;
}

.main__navbar {
  margin-right: 20px;
  
  width: 20%;
}

.main__content {
  width: 75%;
}

.btn {
  padding: 10px 20px;

  outline: none;
  border: none;
  cursor: pointer;

  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500;

  background-color: rgb(72, 136, 255);
  color: white;

  border-radius: 8px;
}

.btn:disabled {
  opacity: 0;
}

.form-text-input {
  padding: 10px;
  margin-right: 10px;

  width: 85%;
  min-height: 120px;

  outline: none;
  border: none;
  resize: none;

  border: 1px solid rgb(72, 136, 255);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);
  border-radius: 5px;
}
